extends layout

block hero-unit
  .jumbotron
    .container
      h2 TRAVEL_ROOM_REGISTRATION

block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 여행자들을 위한 숙박예약 사이트입니다.
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 숙소 예약
          li 숙소 기본 정보:제목, 간단한 설명, 도시, 주소, 숙소 요금, 편의시설, 이용 규칙
          li 완료된 일 체크
  
